body,html {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    background-size: cover;
    overflow: hidden;
}

.box {
    background-color: #aaa;
    border: 2px solid black;
    margin: 1px;
    border-radius: 5px;
}

.btn-group button {
    background-color: #4CAF50; 
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none;
  }
  
  
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  .btn-group button:hover {
    background-color: #3e8e41;
  }

  .popup{
    border-radius: 7px;
    background-image:url("CocaColaGlass.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:30px auto 0;
    padding:6px;  
    position:absolute;
    width:240px;
    height: 150px;
    top: 80%;
    left: 0%;
    margin-left: 60px;
    margin-top: -40px;
}